@import url('https://fonts.cdnfonts.com/css/windlass');
*{
    box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(4, 84, 72);
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}
nav{
    background: url(ICONS/background1.png);
    width: 100vw;
    min-height: 900px;
}
.Top_image {
  width: 100vw;
  height: 40vh;
  z-index: 0;
}
.background-image {
  position: fixed;
  left: 0;
  top: 5vh;
  width: 100vw;
  height: auto;
  z-index: -1;
  filter: blur(1px);
}
#beforeInfo {
  display: block;
  width: fit-content;
  margin-inline:auto;

}
/* PRZYCISKI */
.button-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1fr,4);
  gap: 10px;
  height: fit-content;
}
@media screen and (max-width: 1350px){
    .button-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }     
}
@media screen and (max-width: 650px){
    .button-container{
        grid-auto-flow: row;
        grid-template-columns: unset;
        grid-template-rows: unset;
    }
}
button {
  appearance: none;
  border: 0;
  min-width: 300px;
  border-radius: 30px;
  background-color: rgba(68, 79, 77, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgb(6, 6, 6, 0.5);
  margin: 10px;
  display:  block;
  text-align: center;
  justify-content: center;
  padding: px;
  align-items: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s ease;
}
button img {
  height: 40px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
button span {
  display: block;
  margin-top: 2vh;
  margin-bottom: vh;
  font-size: 3vh;
  color: wheat;
  font-family: "Windlass", sans-serif;
}
/* button animacje */
button:hover {
  background-color: rgba(3, 10, 10, 0.793);
}
button:active {
  background-color: rgb(3, 10, 10);
}
#BasicM {
  margin-top: 4vh;
  height: 8vh;
}
#MonsterM {
  height: 10vh;
}
#Fish {
  margin-top: 3vh;
  height: 9vh;
}

#TFish {
  height: 10vh;
}

/* WYSKAKUJĄCE OKIENKO */

.timer {
  font-size: 5.5vh;
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.timer-top {
  font-size: 4vh;
}

.timer-bottom {
  font-size: 2vh;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: flex-end;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  z-index: 1;
}

.modal-content {
  background-color: rgb(19, 18, 18);
  color: wheat;
  padding: 100px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  width: 400px;
  height: 70px;
  border-radius: 20%;
  background: linear-gradient(-60deg, red 50%, rgba(255, 25, 0, 0.639) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  cursor: pointer;
  margin-bottom: 1vh;
}
#close {
  font-size: 3vh;
  color: wheat;
  font-family: "Windlass", sans-serif;
}
